<!DOCTYPE html>
<html>
    <head>
        <title>Error Page</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            <h1>{{errorMsg}}</h1>
            {{>header}}
        </div>
        {{>footer}}
    </body>
</html>